/* 1.1 placeholder 样式 */
input::-webkit-input-placeholder {    /* Chrome/Opera/Safari */
    color: red;
}
input::-moz-placeholder { /* Firefox 19+ */  
    color: red;
}
input:-ms-input-placeholder { /* IE 10+ */
    color: red;
}
input:-moz-placeholder { /* Firefox 18- */
    color: red;
}

/* 1.2 input聚焦时的样式 */
input:focus {
    background-color: green;
}
/* 1.3 取消Input的边框 */
input {
    border: none;
    outline: none;
}

/* 2.容器 */
.container {
    width: 300px;
    height: 200px;
    margin: 100px;
    padding: 20px;
    border: 1px solid #eee;
    font-size: 13px;
    color: #555;
  }

  .c-red {
    color: red;
  }

  p {
    background-color: rgba(189, 227, 255, 0.28);
    padding: 2px 5px;
  }

  /*单行*/
  .single {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  /*多行*/
  .mutiple {
    display: -webkit-box; /*重点，不能用block等其他，将对象作为弹性伸缩盒子模型显示*/
    -webkit-box-orient: vertical; /*从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-line-clamp: 3; /*行数，超出三行隐藏且多余的用省略号表示...*/
    line-clamp: 3;
    word-break: break-all;
    overflow: hidden;
    max-width: 100%;
  }

  /* 3.负边距移动技巧 */
  *{
      margin:0;
      padding:0;
  }
  .wrap{
      /* 利用负值技巧进行整体移动,注意移动前后的区别 */
      /* margin-left:-6px; */
  }
  .item{
      float:left;
      width: 20%;
      height: 300px;
      border-left:6px solid #fff;
      box-sizing: border-box;
  }

  /* 4.定位同时设置方位情况 */
  .fixed-pos {
      border: 1px solid orangered;
      background-color: orange;
      position: absolute;
      left: 0;
      right: 0;

      /* 等同于设置 width: 100%; display:block */
  }

  /* 5.相邻兄弟选择器之常用场景 */
 .brother {
      width: 500px;
      margin:auto;
      margin-top: 600px;
      list-style: none;
      padding: 0;
      border: 1px solid rosybrown;
      text-align: center;

}

.brother > li + li {
    border-top: 1px solid seagreen;
}

.outline {
    list-style: none;
    width: 1000px;
    margin: 50px auto;
}
.outline > li {
    padding: 10px;
    border: 10px solid pink;
    outline-offset: -10px;
}
.outline > li+li {
    margin-top: -10px;
}
.outline:hover {
    /* 对比 border  和  outline 区别 */
    /* border: 10px solid gold; */
    outline: 10px solid gold;
}

/* 7. 隐藏混动条或更改滚动条样式 */
.scroll-container {
    width: 500px;
    height: 150px;
    margin: 50px auto;
    border: 1px solid #ddd;
    padding: 15px;
    overflow: auto;     /*必须*/
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 8px;
    background: white;
  }
  
  .scroll-container::-webkit-scrollbar-corner,
    /* 滚动条角落 */
  .scroll-container::-webkit-scrollbar-thumb,
  .scroll-container::-webkit-scrollbar-track {      /*滚动条的轨道*/
    border-radius: 4px;
  }
  
  .scroll-container::-webkit-scrollbar-corner,
  .scroll-container::-webkit-scrollbar-track {
    /* 滚动条轨道 */
    background-color: rgba(180, 160, 120, 0.1);
    box-shadow: inset 0 0 1px rgba(180, 160, 120, 0.5);
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    /* 滚动条手柄 */
    background-color: #00adb5;
  }

  /* 8. 纯CSS绘制三角形 */
  .triangle {
      margin: auto;
      width: 200px;
      height: 300px;
      background-color: #eee;
      
  }
  .triangle > div:last-child {
    margin-top:1rem;
}
  .triangle > .up {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 25px 40px 25px;
      border-color: transparent transparent rgb(245, 129, 127) transparent;
  }
  .triangle > .down {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 25px 0 25px;
      border-color: rgb(245, 129, 127) transparent transparent transparent;
  }

  /* 9.虚线框绘制技巧 */
  .dotted-line {
      width: 800px;
      margin: auto;
      padding: 20px;
      border: 1px dashed transparent;
      /* background: linear-gradient(white, white) padding-box, repeating-linear-gradient(-45deg, red 0, #ccc .25em, white 0, white .75em); */
      background: linear-gradient(white,white) padding-box,repeating-linear-gradient(60deg,red 0,#ccc .25em,green 0,blue .75em);
  }

  /* 10. 优惠券 */
  .coupon {
      width: 300px;
      height: 100px;
      line-height: 100px;
      margin: 50px auto;
      text-align: center;
      position: relative;
      background: radial-gradient(circle at right bottom,transparent 10px,#fff 0) top right /50% 55px no-repeat,
                  radial-gradient(circle at left bottom,transparent 10px,#fff 0) top left /50% 55px no-repeat,
                  radial-gradient(circle at right top, transparent 10px,#fff 0) bottom right / 50% 51px no-repeat,
                  radial-gradient(circle at left top, transparent 10px,#fff 0) bottom left / 50% 51px no-repeat;
     filter: drop-shadow(2px 2px 2px rgba(0,0,0,.2));
  }
  .coupon span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      color: red;
      font-size: 50px;
      font-weight: 400;
  }

  /* 11.隐藏文本的常用两种方法 */
  /* text-indent: -9999px; 或者 font-size: 0; */
  .hidden-text {
      background: pink;
      width: 200px;
      height: 200px;
      margin: 100px auto;
      display: flex;
      justify-content: center;
  }
  .hidden-text p {
      text-indent: -9999px;
  }
  .hidden-text span {
      font-size: 0;
  }

  /* 12.合并table */
  .table-info {
      border-collapse: collapse;
      margin: auto;
  }
